# Ignorar TODO
*

# Permitir estas carpetas

!Modelo irradiacion final/
!Modelo irradiacion final/**

!pouch_cr-39/
!pouch_cr-39/**

!pouch_cr-39contejidopouch/
!pouch_cr-39contejidopouch/**

!pouch_cr-39_V1/
!pouch_cr-39_V1/**

!detectores_sin_h/
!detectores_sin_h/**

!detectores_sin_h_v2/
!detectores_sin_h_v2/**

!detectores_sin_h_v2_cilindors/
!detectores_sin_h_v2_cilindors/**

# Permitir archivos importantes
!.gitignore
!README.md
