# Ignorar TODO
*

# Permitir estas carpetas

!Modelo irradiacion final/
!Modelo irradiacion final/**

!pouch_cr-39/
!pouch_cr-39/**

!pouch_cr-39contejidopouch/
!pouch_cr-39contejidopouch/**

!pouch_cr-39_V1/
!pouch_cr-39_V1/**

!detectores_sin_h/
!detectores_sin_h/**

!espectros-detectores/
!espectros-detectores/**

!detectores_sin_h_v2/
!detectores_sin_h_v2/**

!detectores_sin_h_v2_cilindors/
!detectores_sin_h_v2_cilindors/**

!qr-poster/
!qr-poster/**

!pouchcr39hastadondellego/
!pouchcr39hastadondellego/**

!pouchcr39contejidopouchhastadondellegocluster/
!pouchcr39contejidopouchhastadondellegocluster/**

!ridge_filter/
!ridge_filter/**

!ridge_filter_2/
!ridge_filter_2/**

!ridge_filter_3/
!ridge_filter_3/**

!ridge_filter_4/
!ridge_filter_4/**

!ridge_filter_5/
!ridge_filter_5/**


# Permitir archivos importantes
!.gitignore
!README.md
